div(class=styles.model)
  header
    | 选择城市：
    span.current-city
    input(type='radio' name='current-city' checked)
  div(class=styles.content)
    ul
      each city in cities
        h3 #{city.firstLetter}（以#{city.firstLetter}为开头的城市名）
        li
          label
            span= city.name
            input(type='radio' name='city' value='' + city.code)
  footer
    label
      input(type='radio' name='readed')
      | 我已阅读
      a(href='#') 关于上牌城市说明
    button.submit 确认
